# Verified stock Comgrow/Sovol T300 hardware map.

[printer]
kinematics: cartesian
max_velocity: 600
max_accel: 12000
minimum_cruise_ratio: 0.75
max_z_velocity: 12
max_z_accel: 100
square_corner_velocity: 3

[stepper_x]
step_pin: PB3
dir_pin: PD2
enable_pin: !PB5
endstop_pin: tmc2209_stepper_x:virtual_endstop
microsteps: 16
rotation_distance: 72
homing_retract_dist: 0
position_endstop: -2
position_min: -2
position_max: 302
homing_speed: 50
step_pulse_duration: 0.000002

[tmc2209 stepper_x]
uart_pin: PB4
run_current: 1.1
interpolate: True
driver_sgthrs: 72
stealthchop_threshold: 0
diag_pin: ^PB6

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
endstop_pin: tmc2209_stepper_y:virtual_endstop
microsteps: 16
rotation_distance: 72
homing_retract_dist: 0
position_endstop: -6
position_min: -6
position_max: 302
homing_speed: 50
step_pulse_duration: 0.000002

[tmc2209 stepper_y]
uart_pin: PB9
run_current: 1.5
interpolate: True
driver_sgthrs: 82
stealthchop_threshold: 0
diag_pin: ^PC2

[stepper_z]
step_pin: PC0
dir_pin: !PC1
enable_pin: !PC14
endstop_pin: probe:z_virtual_endstop
microsteps: 16
rotation_distance: 4
position_min: -5
position_max: 370
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: PC13
run_current: 0.75
interpolate: True
stealthchop_threshold: 999999

[extruder]
step_pin: PA15
dir_pin: !PA0
enable_pin: !PC11
microsteps: 16
rotation_distance: 3.55
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA7
sensor_type: Generic 3950
sensor_pin: PA4
max_extrude_cross_section: 5
instantaneous_corner_velocity: 10
max_extrude_only_distance: 100
max_extrude_only_velocity: 2000
max_extrude_only_accel: 10000
min_temp: 0
max_temp: 300
min_extrude_temp: 150
max_power: 1.0

[tmc2209 extruder]
uart_pin: PC10
run_current: 1.0
interpolate: True
stealthchop_threshold: 400

[thermistor t300_bed_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 21585.4
temperature3: 100
resistance3: 5072.6

[heater_bed]
heater_pin: PB10
sensor_type: t300_bed_thermistor
sensor_pin: PA3
min_temp: 0
max_temp: 100
max_power: 1.0

[probe]
pin: PC5
x_offset: 20
y_offset: -24
speed: 5
samples: 2
sample_retract_dist: 2
lift_speed: 50
samples_result: average
samples_tolerance: 0.0125
samples_tolerance_retries: 2

[verify_heater extruder]
max_error: 60
check_gain_time: 20
hysteresis: 5
heating_gain: 2

[verify_heater heater_bed]
max_error: 180
check_gain_time: 120
hysteresis: 5
heating_gain: 2

[heater_fan hotend_fan]
pin: PC7

[fan]
pin: PC8
